@use 'variables' as var;

.small-moving-box {
    position: absolute;
    // box-shadow: 0 0 2px 1px white;
    width: 1px;
    height: 1px;
    background-color: var.$clr-white;
}

.medium-moving-box {
    position: absolute;
    // box-shadow: 0 0 4px 2px white;
    width: 2px;
    height: 2px;
    background-color: var.$clr-white;
}

.large-moving-box {
    position: absolute;
    // box-shadow: 0 0 6px 3px white;
    width: 4px;
    height: 4px;
    background-color: var.$clr-white;
}

@keyframes move-box{
    0% {
      bottom: 0;
    }
    100% {
      bottom: 110%;
      rotate: 400deg;
    }
  }