@use 'variables' as var;

header {
    position: sticky;
    inset: 0;
    background-color: var.$clr-darkblue;
    padding: 0.75em;

    .container {
        display: flex;
        justify-content: space-between;
        max-width: 1440px;
        margin: 0 auto;
    }

    button {
        background-color: var.$clr-darkblue;
        color: var.$clr-white;
        border: none;
        font-size: 1.1rem;
        padding-inline: 1.5em;
        cursor: pointer;

        &:hover, &:focus {
            color: var.$clr-green;
        }
    }
}

.lang-container {
    display: flex;
    gap: 1em;
    font-size: 1rem;
    width: fit-content;
}

.lang {
    color: var.$clr-white;
    font-size: inherit;
    border: none;
    background-color: var.$clr-darkblue;
    padding: 0.2em 0.6em;
    cursor: pointer;
}

.active {
    outline: 1px solid var.$clr-white;
    border-radius: 5px;
}