@use 'variables' as var;

header {
    position: sticky;
    inset: 0;
    background-color: var.$clr-darkblue;
    padding: 0.75em;
    z-index: 2;

    .container {
        display: flex;
        justify-content: space-between;
        max-width: 1440px;
        margin: 0 auto;
    }

    button, a {
        background-color: var.$clr-darkblue;
        color: var.$clr-white;
        border: none;
        font-size: 1.1rem;
        padding-inline: 1em;
        margin-inline: 0.5em;
        text-decoration: none;
        cursor: pointer;

        &:hover, &:focus {
            color: var.$clr-green;
        }
    }

    a {
        font-weight: 600;
    }
}

.lang-container {
    display: flex;
    gap: 1em;
    font-size: 1rem;
    width: fit-content;
}

.lang {
    color: var.$clr-white;
    font-size: inherit;
    border: none;
    background-color: var.$clr-darkblue;
    padding: 0.2em 0.6em;
    cursor: pointer;
}

.separator {
    width: 1px;
    border: 1px solid var.$clr-lightgrey;
}

.active {
    outline: 1px solid var.$clr-white;
    border-radius: 5px;
}

@media (max-width: 900px) {
    header button, header a {
        font-size: 1rem;
        padding-inline: 0.5em;
        margin-inline: 0.3em;
        font-weight: 500;
    }

    .lang-container {
        align-items: center;
    }

    .separator {
        height: 50%;
    }
}