@use 'variables' as var;

.hero {
    color: var.$clr-white;
    padding: 3em 5vw;
    background-color: var.$clr-darkblue;
    min-height: 90svh;

    .grid-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-items: center;
        align-items: center;
        grid-gap: 8em;
    
        max-width: 1440px;
        margin: 0 auto;
    }
}

.img-container {
    order: 1;
    border: 10px solid var.$clr-white;
    border-radius: 20px;
    max-width: 500px;
    overflow: hidden;

    &:hover, &:focus-visible {
        border-color: var.$clr-green;
        box-shadow: 0px 0px 10px var.$clr-green;
    }
}

.content-container {
    h1 {
        font-size: 2.8rem;
    }
    p {
        font-size: 1.2rem;
    }
}

.hero-btn {
    order: 2;
    text-decoration: none;
    color: inherit;

    width: 100%;
    padding: 0.5em;
    border: 3px solid var.$clr-white;
    border-radius: 10px;

    transition: box-shadow 0.5s linear;
    
    &:hover, &:focus-visible {
        border-color: var.$clr-green;
        box-shadow: 0px 0px 10px var.$clr-green;
    }
}

.hero-btn--content {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    text-align: center;

    img {
        margin-right: 0.5em;
        width: 36px;
        height: 36px;
    }

    p {
        font-weight: bold;
        margin: 0;
    }
}

@media (max-width: 900px) {
    .hero {
        padding: 1em 5vw;

        .grid-container {
            grid-template-columns: 1fr;
            grid-gap: 1em;
        }
    }

    .img-container {
        order: 0;
    }

    .content-container {
        text-align: center;
        text-wrap: balance;

        h1 {
            font-size: 2.2rem;
            margin: 0.3em 0;
        }
        p {
            font-size: 1.1rem;
        }
    }
}