@use 'variables' as var;

.project-details {
    color: var.$clr-darkblue;
    background-color: var.$clr-lightgrey;

    .stack-container {
        justify-content: center;
    }

    img {
        margin: 30px auto;
    }

    .project-start {
        margin: 1em 0 0;
    }
}

.project-details-content-container {
    max-width: 1200px;
    margin: 0 auto;
    background-color: var.$clr-white;
    padding: 2em;
}

.project-title-container {
    display: grid;
    grid-template-columns: minmax(30px, 1fr) auto minmax(30px, 1fr);
    grid-gap: 1rem;
    align-items: center;
    max-width: 80%;
    text-wrap: balance;
    margin: 0 auto;

    .arrow {
        width: 30px;
        height: 30px;
        cursor: pointer;
        transform: rotate(45deg);
        transition: border-color 0.3s ease-in-out;
        justify-self: center;

        &:hover {
            border-color: var.$clr-green;
        }
    }

    :first-child {
        border-left: 5px solid var.$clr-darkblue;
        border-bottom: 5px solid var.$clr-darkblue;
        translate: 0 5px;
    }

    :last-child {
        border-right: 5px solid var.$clr-darkblue;
        border-top: 5px solid var.$clr-darkblue;
        translate: -10px 5px;
    }
}

.btn-wrapper {
    display: flex;
    justify-content: space-evenly;

    a {
        text-decoration: none;
    }
}

.project-elements-container {
    max-width: 100ch;
    margin: 5em auto;
}

@media (max-width: 1100px) {
    .project-title-container {
        grid-template-columns: minmax(20px, 1fr) auto minmax(20px, 1fr);
        grid-gap: 0.5rem;
        max-width: 100%;
        .arrow {
            width: 20px;
            height: 20px;
        }
    }

    .btn-wrapper {
        display: block;

        .project-btn {
            margin-top: 0.5em;
        }
    }

    h2 {
        font-size: 1.8rem;
    }

    h3 {
        font-size: 1.4rem;
    }

    p {
        font-size: 1.1rem;
    }
}